@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha',cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgrey;
    font-family: var(--font1);
    
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

.title{
    font-family: var(--font2);
    font-size: 3em;
    padding-top: 50px;
    font-variant: small-caps;  /*deixa todas as letras maiusculas, porem as primeiras de cada palavra são maiores*/
}

.name{
    padding-bottom: 50px;
}

.anchor{
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.anchor:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--font3);
    font-size: 3.5vw;
}

.normal{
    background-color: white;
    color:black;
    padding-bottom: 2em;
}

.image{
    background-color: rgba(27, 25, 25, 0.251);
    color: white;
    padding-bottom: 1em;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
    background-attachment: fixed;   /*enquanto scrolla a imagem scrolla junto (efeito paralax)*/

}

.image > p{
    background-color: rgba(0, 0, 0, 0.425);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
}

#img01{
    background-image: url(./imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
}

#img02{
    background-image: url(./imagens/background002.jpg);
    background-position: right center;
    background-size: cover;

}





footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}